@media (max-width: 576px) {
    .cart-summary-details {
        font-size: 0.9em;
    }
    
    .cart-summary-details h4 {
        font-size: 1.1rem;
    }
    
    .btn-group {
        flex-direction: column;
    }
    
    .btn-group .btn {
        width: 100%;
        margin-bottom: 5px;
    }
}
